img{
    width: 300px;
    height: 300px;
    float: left;
    padding: 57px;
    border: double;
}
h1{
    font-size: xx-large;
    text-align: center;
    padding: 30px;
    background-color: darkgray;
    
}
footer{
    background-color: darkgray;
    clear: both;
    text-align: center;
    padding: 30px;
}
#showdiv{
    list-style: none;
    clear: both;
    font-size: larger;
}
li{
    padding-bottom: 20px;
    
}
#myChart{
    display: block;
    height: 400px;
    width: 400px;
    float: right;
}
main{
    background-color: darkkhaki;
}
#myChart{
    background-color: lightyellow;
    width: 200px;
    height: 200px;
}